.container{
    width: 100%;
    background-color: black;
}
.section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.content{
    width: 100%;
    max-width: 1024px;
    margin-top: 80px;
    padding:  0 18px;
}
.legenda{
    color: #fff;
}
.button{
    color: #fff;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(52, 49, 231);
    height: 40px;
    cursor: pointer;
}
.checkbox{
    margin: 5px;
}
.checkboxarea{
    margin-top: 5px;
    margin-bottom: 5px;
}
.button:hover{
    opacity: 60%;
}
.taskSection{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.taskArticle{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 1024px;
    width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  line-height: 150%;
}
.labeltask{
    background-color: blue;
    color: #fff;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 12px;
}

.taskSection a{
    text-decoration: none;
}
.taskDiv{
    display: flex;
}

.taskSection h1{
    margin: 38px auto 10px auto;
    color: black;
}
.taskcontent{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.taskcontent p {
    color: black;
}
.compartilha{
    border: 0;
    background: transparent;
    margin: 0 8px;
    cursor: pointer;
}