.container{
    width: 100%;
}
.section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.content{
    width: 100%;
    max-width: 1024px;
    margin-top: 80px;
    padding:  0 18px;
}
.legenda{
    color: #fff;
}
.button{
    color: #fff;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(52, 49, 231);
    height: 40px;
    cursor: pointer;
}
.checkbox{
    margin: 5px;
}
.checkboxarea{
    margin-top: 5px;
    margin-bottom: 5px;
}
.button:hover{
    opacity: 60%;
}
.taskSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.taskArticle{
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 1024px;
    width: 100%;

}
.labeltask{
    background-color: blue;
    color: #fff;
    border-radius: 20px;
    padding: 3px;
}
.taskDiv a {
    text-decoration: none;
}