
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  box-sizing: content-box;
  flex-direction: column;
 
}
.content{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.frase{
  color: #fff;
  text-align: center;
  margin: 28px;
  line-height: 150%;
}
.caixa{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image{
 max-width: 4800px;
  object-fit: contain;
  width: auto;
  height: auto;
}
.caixasFrase{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  color: black;
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  transition: all 0.4s;
}

.caixasFrase:hover{
  transform: scale(1.08);
}