
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    height: 60px;
    width: 100%;
    max-width: 1024px;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    color: #fff;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s;
    background-color: black;
}
.span{
    color: red;
    margin-right: 3px;
}

.button:hover{
    color: black;
    background-color: #fff;
    transform: scale(1.08);
}
.tarefas{
    font-family: 40px;
}
.painel{
    background-color: #fff;
    color: black;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.4s;
}

.painel:hover{
    transform: scale(1.08);
    border: 1px solid #fff;
    color: #fff;
    background-color: black;
}