.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.main{
    margin-top: 40px;
    max-width: 1024px;
    width: 100%;
}
.main h1{
    color: black;
}
.article{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid gray;
    padding: 10px;
}
.tarefa{
    color: black;
    white-space: pre-wrap;
    width: 100%;
}
.button{
    padding: 5px;
    width: 100%;
    cursor: pointer;
    background-color: #318fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.button:disabled{
    cursor: not-allowed;
    opacity: 90%;
}
.divcomentarios{
    margin-top: 30px;
}
.sectionComents{
    margin-top: 20px;
}
.span{
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articlecoments{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid gray;
    padding: 10px;
}
.usercoments{
    color: black;
}
.headerComents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.label{
    background-color: bisque;
    padding: 4px 8px;
    border-radius: 4px;
}
.trash{
    border: 0px;
    background: transparent;
    cursor: pointer;
}
