.container{
    display: flex;
    width: 100%;
    max-width: 1024px;
  

    padding: 10px;
}
.main{
    width: 100%;
}
.main h1{
    color: black;
}
.article{
    display: flex;
    justify-content: center;
    align-items: center;
   
    border: 1.5px solid gray;
}
.tarefa{
    color: black;
}